.banner-container {
    width: 100% !important;
    height: 80vh !important;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,
    url('https://images.unsplash.com/photo-1474667689933-0ff72b3d16e9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10%;
}
.banner-title {
    letter-spacing: 10px;
}
.shop-now-btn {
    letter-spacing: 5px;
    background-color: black;
    width: 15%;
    border-radius: 5px;
}
.shop-now-btn:hover {
    transition: all 0.5s ease-in-out;
    background-color: chocolate;
}

@media (max-width: 768px) {
    .banner-title {
        margin-top: 50px;
        font-size: 40px;
        letter-spacing: 3px;
    }
    .shop-now-btn {
        width: 50%;
    }
}